* {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    background: no-repeat center right fixed url(Shiva.jpg);
    background-size: cover;
    background-position: center;
}

.navbar ul {
    position: fixed;
    background-color: black;
    width: 100vw;
    z-index: 1000;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 2vh 2vw;
    font-weight: 900;
    margin: 1vh 0vw;
}

.navbar {
    background-color: black;
}

footer {
    position: relative;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.navbar ul a:hover {
    background-color: rgb(0, 119, 255);
    border-radius: 9px;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: rgba(99, 214, 243, 0.6);
    text-align: center;
}

.section hr {
    margin: 1% 15%;
    height: 5px;
    background-color: black;
    border: black;
}

.name {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 600%;
}

.about {
    width: 100vw;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.aboutme {
    position: relative;
    display: inline-block;
    min-width: 300px;
    width: 45vw;
    padding: 2%;
}

.about img {
    display: block;
    width: 20vw;
    border-radius: 50%;
    border-style: dashed solid dotted;
    border-width: 3px;
    min-width:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    margin: 5vh auto;
}

.contact {
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.contact ul li {
    display: inline-block;
    margin: 3%;
}

.contact ul li a {
    display: inline-block;
    width: 300px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-color: black;
    max-width: 100vw;
}

.contact ul li a:hover {
    background-color: grey;
}

.heading,
.heading2 {
    font-size: 300%;
    text-align: center;
    padding: 3%;
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    margin: 3vh auto;
}

.heading2 {
    width: 100%;
}

.projects,
.workexps,
.educations,
.contact {
    width: 85vw;
    padding: 10% 5% 0% 10%;
    background-color: rgb(255, 255, 255);
}

.topic_heading {
    display: inline-block;
    width: 34%;
    min-width: 300px;
    padding: 4vh 3vw 0 0;
}

/* .project,
.workexp,
.education {
    display: inline-flex;
    align-items: center;
} */

.description {
    display: inline-block;
    width: 52%;
    min-width: 300px;
    padding: 5vh 0;
}
